@font-face {
  font-family: 'open-sans';
  src:url('./assets/fonts/OpenSans-VariableFont_wdth\,wght.ttf');
  font-weight: bold;
  font-style: normal;
}
body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: 'open sans', -apple-system, BlinkMacSystemFont,  "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, h1, h2, h3, h4, h5, h6{
  margin: 0;

}

*, ::after, ::before {
  box-sizing: border-box;
}

#root {
  width: 100%;
}
.container-image {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
}
.container {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}

.nav {
  display: flex;
  height: 64px;
  border-bottom: 1px solid #ccc;
}

.content-icons {
 display: flex;
  align-items: center;
  justify-content: space-between;
}

.rectangule1 {
  display: flex;
  width: 16px;
  height: 16px;
  left: 162px;
  top: 249px;

  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}

.rectangule2{
  
  margin: auto;
  width: 10px;
  height: 10px;
  left: 165px;
  top: 252px;

  background: #00c0ee;
}
.checks{
  display: flex;
  align-items: center;
}

.text-title{
  font-size: 32px;
  margin-top: 40px;
  margin-bottom: 65px;
}

.text-filtro{
  font-size: 16px;
}

.text{
  font-size: 14px;
  padding: 10px;
  color:#000000;
}

.container-talla{
  display: flex;
  flex-wrap: wrap;
  width: 170px;
  column-gap: 8px;
  row-gap: 8px;
}

.check-talla{
  display: flex;
  width: 32px;
  height: 32px;
  left: 162px;
  top: 465px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
}
.text-talla{
  font-size: 16px;
  margin: auto;
}

.container-select{
  width: 142px;
  position: relative;
}

.select-order{
  width: 100%;
  padding: 10px 25px 10px 10px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
}

.d-flex{
  display: flex;
  
}
.w-full{
  width: 100%;
}

.j-center{
  justify-content: center;
}

.j-between{
  justify-content: space-between;
}

.a-center{
  align-items: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


.icon-arrow {
  width: 12px;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(-25px, -50%)
}

.content-card {
    flex: 1 0 0%;
    padding: 0 1rem;
}

.content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
  grid-gap: 18px 25px;
  width: 100%;
}

.d-none {
  display: none !important;
}

.card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title{
  margin-top: 10px;
  margin-bottom: 10px;
}
.card-text {
  font-weight: bold ;
  line-height: 22px;
}
.card-text-down{
  color: #666666;
  margin-bottom: 14px;
}
.text-upper{
  text-transform: uppercase;
}
.img-card{
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 243px;
}
.boton-card{
  width: 100%;
  max-width: 195px;
  height: 33px;
  background-color: #000000;
  color: #fff;
  border: none;
  font-weight: bold;
}

.btn-mas{
  width: 100%;
  max-width: 175px;
  height: 35px; 
  background-color: #00C0EE;
  color: #fff;
  border: none;
}

.contend-tween{
  padding-bottom: 40px  ;
}
.contend-duo{
  padding-bottom: 73px;

}
.container-footer{
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-top: 15px;
  background-color: #000000;  
  height: 40px
}
.into-footer{
  width: 100%;
  align-items: center;
  justify-content: center;
}
.footer-text{

  color: #ffff;
}

/* .card {
  width: 100%;
  max-width: 167px;
} */

@media (min-width: 350px) {
  .content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(136px, 1fr));
    grid-gap: 18px 25px;
    width: 100%;
  }
}
@media (min-width: 361px) and (max-width: 521px) {
  .img-card{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 243px;
  }
}
@media (min-width: 521px) {
  .content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    grid-gap: 18px 25px;
    width: 100%;
  }
  .img-card{
    height: 293px;
  }
}

@media (min-width: 576px) {
  .content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));
    grid-gap: 42px 64px;
    width: 100%;
  }

  .container {
      max-width: 540px;
  }
  .content-card {
    flex: 1 0 0%;
    padding: 0 20px;
  }
  .d-sm-block {
    display: block !important;
  }
/*   .card {
    width: 100%;
    max-width: auto;
  } */
}

@media (min-width: 768px) and (max-width: 992px) {
  .content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(195px, 1fr));
    grid-gap: 42px 35px;
    width: 100%;
  }

  .content-card {
    flex: 1 0 0%;
    padding: 0 40px !important;
  }
}

@media (min-width: 768px) {
  .container {
      max-width: 720px;
  }
  .content-card {
    flex: 1 0 0%;
    padding: 0 80px;
  }

}

@media (min-width: 992px) {
  .container {
      max-width: 960px;
  }
  .content-card {
    flex: 1 0 0%;
    padding: 0 131px;
  }

}


@media (min-width: 1200px) {
  .container{
      max-width: 1140px;
  }
}

@media (min-width: 1400px){
  .container {
      max-width: 1320px;
  }
}
